body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: white;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 500px;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #5a67d8;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #434190;
}
.admin-link {
    margin-top: 20px;
    text-align: center;
}

.admin-link a {
    text-decoration: none;
    font-weight: bold;
    color: #5a67d8;
    font-size: 16px;
}

.admin-link a:hover {
    color: #2b2d42;
}
.back-home {
    margin-top: 30px;
    text-align: center;
}

.back-home button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.back-home button:hover {
    background-color: #388e3c;
}
.edit-btn {
    color: green;
    text-decoration: none;
    font-weight: bold;
    margin-right: 8px;
}
.edit-btn:hover {
    color: darkgreen;
}
